<div class="container-fluid" id="home_container">
  <div class="row homepage">
    <div class="banner" id="#home_banner">
      <%= image_tag("Logo_large_vertical_white.png", id: "logo") %>
      <div class="catchline text-center">
        <h1>Le remplacement médical à portée de main</h1>
      </div>

      <div class="search-box" id="search-box-practice">
        <div class="text-center">
          <h4 class="be-informed">Besoin d'un <strong>remplaçant</strong> ou d'un <strong>remplacement</strong> ?</h4>
          <h4 class="be-informed">Laissez vos coordonnées et <strong>nos équipes vous rappellent</strong> immédiatement !</h4>
        </div>

        <%= simple_form_for(@suscriber) do |f| %>
          <%= f.error_notification %>

          <%= f.input_field :name, class: "search-input", label: false, placeholder: "Prénom et Nom", id: "suscriber_email", style: "font-size: 13px;" %>
          <%= f.input_field :phone, class: "search-input", label: false, placeholder: "Téléphone ou email", id: "suscriber_email", style: "font-size: 13px;" %>
          <%= f.button :submit, method: :post, value: "Me contacter", class: "btn btn-primary btn-lg btn-search-home", style: "font-size: 15px !important; vertical-align: top;" %>
        <% end %>

      <div class="text-center" id="inform-button">
        <button type="submit" class="btn btn-primary btn-lg btn-search-home contact-us" data-toggle="modal" data-target="#myModal">M'informer du lancement<span class="hidden-xs"> de la plateforme</span></button>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Me tenir informé du lancement de la plateforme</h4>
            </div>
            <div class="modal-body text-center">
            <p>...encore quelques semaines à attendre avant le grand lancement de la plateforme !</p>
              <%= simple_form_for(@suscriber) do |f| %>
                <%= f.error_notification %>
                <%= f.input :has_practice, collection: [[true, 'Professionnel installé'], [false, 'Remplaçant']],
                label: "Je suis", value_method: :first, label_method: :last, as: :radio_buttons %>
                <%= f.input_field :email, class: "search-input", label: false, placeholder: "Email", id: "suscriber_name", style: "font-size: 13px; line-height: 30px;" %>
            </div>
            <div class="modal-footer">
                <%= f.button :submit, method: :post, value: "Me tenir informé(e)", class: "btn btn-primary" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

