<div class="container-fluid" id="home_container">
  <div class="row homepage">
    <div class="col-xs-12" style="padding:0;">
      <div class="banner" id="#home_banner">

        <%= image_tag("Logo_large_vertical_white.png", id: "logo") %>
        <%= image_tag("Logo_large_vertical_grey.png", id: "logo", class: "hidden") %>
        <%= image_tag("ribbon.png", id: "ribbon") %>
        <div class="catchline text-center">
          <h1>Levez le pied, vous êtes remplacés</h1>
        </div>

        <div class="subtitles text-center">
          <h4 class="be-informed">Besoin d'un <strong>remplaçant</strong> ou d'un <strong>remplacement</strong> ?</h4>
        </div>

        <div class="search-box" id="search-box-practice">

          <%= simple_form_for(@suscriber) do |f| %>
            <%= f.error_notification %>
            <%= f.input :has_practice, collection: [[true, 'Professionnel installé'], [false, 'Remplaçant']], class: "form-inline", label: "Je suis : ", value_method: :first, label_method: :last, as: :radio_buttons %>
            <%= f.input_field :email, class: "search-input", label: false, placeholder: "Email et/ou téléphone", style: "width: 100%; margin: 10px 0;" %>
            <br>
            <%= f.button :submit, method: :post, value: "M'avertir du lancement !", class: "btn btn-primary", style: "width: 100%; font-size: 15px !important; padding: 10.5px 12px; border-radius: 5px;" %>
          <% end %>

        </div>

        <div class="anchor-link">
          <%= link_to root_path(anchor: "why") do %>
            <i class="fa fa-3x fa-angle-down fa-pulse"></i>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="why" id="why">
  <div class="container-fluid">
    <br>
    <div class="row text-center" style="margin-top: 40px;">
      <div class="col-xs-6 col-md-3">
        <div class="card round_icons">
          <div class="img-container">
            <%= image_tag 'rapidity_icon.png', width: 77 %>
          </div>
          <h3>Rapidité</h3>
          <p>Votre prochain remplaçant/remplacement, en quelques clics.</p>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="card round_icons">
          <div class="img-container">
            <%= image_tag 'trust_icon.png', width: 108 %>
          </div>
          <h3>Confiance</h3>
          <p>Des profils validés et recommandés par vos pairs.</p>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="card round_icons">
          <div class="img-container">
            <%= image_tag 'tranquility_icon.png', width: 99 %>
          </div>
          <h3>Tranquilité</h3>
          <p>Le support continu de l'équipe medGo.</p>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="card round_icons">
          <div class="img-container">
            <%= image_tag 'gain_icon.png', width: 77 %>
          </div>
          <h3>Gain</h3>
          <p>Des revenus garantis pour les installés et les remplaçants.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="how" id="how">

  <div class="container-fluid">
    <div class="row ">
      <div class="col-xs-12">
        <br>
        <h2 class="text-center">Comment ça marche</h2>
      </div>
    </div>
  </div>

  <section class="content--features sliding-items">
    <ul class="container">

      <li class="row" style="border-bottom: none;">
        <div class="tabs">
          <div class="tab tab-active" id="practice-tab"><span class="tab-text">Pour les <br class="hidden-sm hidden-md hidden-lg"><span class="hidden-xs">professionnels</span> installés</span></div>
          <div class="tab" id="locum-tab"><span class="tab-text">Pour les <br class="hidden-sm hidden-md hidden-lg">remplaçants</span></div>
        </div>
      </li>

      <div id="how-practices">

        <li class="row padded" style="border-top: 1px solid #545D70;">
          <div class="sliding-item sliding-item--right">
            <div class="panel-img col-sm-7">
              <%= image_tag "Edit_my_profile.png" %>
            </div>
            <div class="panel-text col-sm-5">
              <div class="s-table">
                <div class="s-table-cell">
                  <span class="picto picto--doc" aria-hidden="true"></span>
                  <h3 class="content--feature__title">Complétez votre profil</h3>
                  <p><span class="highlighted-text">Présentez-vous</span> et <span class="highlighted-text">votre cabinet</span>, décrivez votre activité et vos critères de recherche.</p>
                  <p>Plus votre profil est complet, plus il attirera de candidats.</p>
                  <p>N'hésitez pas à <span class="highlighted-text">inclure quelques photos</span> !</p>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li class="row padded">
          <div class="sliding-item sliding-item--left">
            <div class="panel-img col-sm-7 col-sm-push-5">
              <%= image_tag "Set_my_dates.png" %>
            </div>
            <div class="panel-text col-sm-5 col-sm-pull-7">
              <div class="s-table">
                <div class="s-table-cell">
                  <span class="picto picto--agenda-check" aria-hidden="true"></span>
                  <h3 class="content--feature__title">Définissez vos périodes de recherche</h3>
                  <p>Créez une ou plusieurs périodes de recherche de remplaçants, en <span class="highlighted-text">quelques clics</span>.</p>
                  <p>Que vous souhaitiez partir <span class="highlighted-text">2 semaines en vacances</span> ou vous faire remplacer <span class="highlighted-text">tous les samedis matin</span>, toutes les options sont possibles pour vous proposer les profils les plus pertinents.</p>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li class="row padded">
          <div class="sliding-item sliding-item--right">
            <div class="panel-img col-sm-7">
              <%= image_tag "My_received_requests.png" %>
            </div>
            <div class="panel-text col-sm-5">
              <div class="s-table">
                <div class="s-table-cell">
                  <span class="picto picto--doc" aria-hidden="true"></span>
                  <h3 class="content--feature__title">Gérer les demandes de remplacement</h3>
                  <p>Vous serez <span class="highlighted-text">alerté par SMS, email et sur medGo.fr</span> pour chaque demande de remplacement reçue.</p>
                  <p>Suivez facilement les demandes en cours dans votre tableau de bord personnalisé.</p>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li class="row padded">
          <div class="sliding-item sliding-item--left">
            <div class="panel-img col-sm-7 col-sm-push-5">
              <%= image_tag "Messages.png" %>
            </div>
            <div class="panel-text col-sm-5 col-sm-pull-7">
              <div class="s-table">
                <div class="s-table-cell">
                  <span class="picto picto--agenda-check" aria-hidden="true"></span>
                  <h3 class="content--feature__title">Echangez avec les remplaçants candidats</h3>
                  <p>Discutez via la <span class="highlighted-text">messagerie en ligne</span>, en toute simplicité.</p>
                  <p>Vous avez également accès à l'email et au numéro de téléphone des remplaçants qui vous ont contacté.</p>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li class="row padded">
          <div class="sliding-item sliding-item--right">
            <div class="panel-img col-sm-7">
              <%= image_tag "Requester_profile.png" %>
            </div>
            <div class="panel-text  col-sm-5">
              <div class="s-table">
                <div class="s-table-cell">
                  <span class="picto picto--doc" aria-hidden="true"></span>
                  <h3 class="content--feature__title">Choisissez un remplaçant de confiance</h3>
                  <p>Consultez le <span class="highlighted-text">profil de chaque remplaçant candidat</span> : présentation, formation et expérience.</p>
                  <p>Mais aussi l'historique des remplacements effectués et les <span class="highlighted-text">recommandations</span> reçues.</p>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li class="row padded" style="border-bottom: none;">
          <div class="sliding-item sliding-item--left">
            <div class="panel-img col-sm-7 col-sm-push-5">
              <%= image_tag "Active_research.png" %>
            </div>
            <div class="panel-text col-sm-5 col-sm-pull-7">
              <div class="s-table">
                <div class="s-table-cell">
                  <span class="picto picto--agenda-check" aria-hidden="true"></span>
                  <h3 class="content--feature__title">Pas envie d'attendre ?</h3>
                  <p>Vous pouvez aussi <span class="highlighted-text">rechercher proactivement un remplaçant</span> parmi l'ensemble des inscrits.</p>
                  <p>Un remplaçant disponible correspond à vos attentes ? <span class="highlighted-text">Envoyez-lui une demande</span> !</p>
                </div>
              </div>
            </div>
          </div>
        </li>

      </div>

      <div id="how-locums" class="hidden">

        <li class="row padded" style="border-top: 1px solid #545D70;">
          <div class="sliding-item sliding-item--right">
            <div class="panel-img col-sm-7 col-sm-push-5">
              <%= image_tag "Edit_my_profile_locum.png" %>
            </div>
            <div class="panel-text col-sm-5 col-sm-pull-7">
              <div class="s-table">
                <div class="s-table-cell">
                  <span class="picto picto--doc" aria-hidden="true"></span>
                  <h3 class="content--feature__title">Complétez votre profil</h3>
                  <p><span class="highlighted-text">Présentez-vous</span>, décrivez votre <span class="highlighted-text">formation</span> et vos <span class="highlighted-text">expériences</span>.</p>
                  <p>Plus votre profil est complet, plus vous aurez de chance de <span class="highlighted-text">décrocher un remplacement</span>.</p>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li class="row padded">
          <div class="sliding-item sliding-item--left">
            <div class="panel-img col-sm-7">
              <%= image_tag "Active_research_locum.png" %>
            </div>
            <div class="panel-text col-sm-5">
              <div class="s-table">
                <div class="s-table-cell">
                  <span class="picto picto--agenda-check" aria-hidden="true"></span>
                  <h3 class="content--feature__title">Recherchez votre remplacement idéal</h3>
                  <p>Affinez votre recherche selon vos critères.</p>
                  <p>Que ce soit pour <span class="highlighted-text">un remplacement régulier</span> quelques jours par semaine ou <span class="highlighted-text">un remplacement à temps plein</span> pour le mois suivant.</p>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li class="row padded">
          <div class="sliding-item sliding-item--right">
            <div class="panel-img col-sm-7 col-sm-push-5">
              <%= image_tag "See_profile_locum.png" %>
            </div>
            <div class="panel-text col-sm-5 col-sm-pull-7">
              <div class="s-table">
                <div class="s-table-cell">
                  <span class="picto picto--doc" aria-hidden="true"></span>
                  <h3 class="content--feature__title">Choisissez votre remplacement</h3>
                  <p>Parcourez les <span class="highlighted-text">profils des professionnels installés</span> : nombre moyen de consultations par jour, logiciels utilisés, activité dominante / type de patientèle, historique de remplacements, etc.</p>
                  <p>Choisissez ainsi <span class="highlighted-text">un remplacement qui vous correspond</span>, avec toutes les cartes en main.</p>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li class="row padded">
          <div class="sliding-item sliding-item--left">
            <div class="panel-img col-sm-7">
              <%= image_tag "Dashboard_locum.png" %>
            </div>
            <div class="panel-text col-sm-5">
              <div class="s-table">
                <div class="s-table-cell">
                  <span class="picto picto--agenda-check" aria-hidden="true"></span>
                  <h3 class="content--feature__title">Envoyez une demande en un clic</h3>
                  <p>Suivez l'évolution de vos demandes dans votre <span class="highlighted-text">tableau de bord personnalisé</span>.</p>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li class="row padded">
          <div class="sliding-item sliding-item--right">
            <div class="panel-img col-sm-7 col-sm-push-5">
              <%= image_tag "Messages_locum.png" %>
            </div>
            <div class="panel-text col-sm-5 col-sm-pull-7">
              <div class="s-table">
                <div class="s-table-cell">
                  <span class="picto picto--doc" aria-hidden="true"></span>
                  <h3 class="content--feature__title">Echangez et discutez</h3>
                  <p>A chaque étape, <span class="highlighted-text">communiquez en ligne via la messagerie</span>.</p>
                  <p>Vous avez également accès à l'email et au téléphone des professionnels installés qui le souhaitent.</p>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li class="row padded" style="border-bottom: none;">
          <div class="sliding-item sliding-item--left">
            <div class="panel-img col-sm-7">
              <%= image_tag "Set_my_dates_locum.png" %>
            </div>
            <div class="panel-text col-sm-5">
              <div class="s-table">
                <div class="s-table-cell">
                  <span class="picto picto--agenda-check" aria-hidden="true"></span>
                  <h3 class="content--feature__title">Vous n'avez pas encore trouvé ?</h3>
                  <p>Renseignez vos <span class="highlighted-text">périodes de recherche</span> (remplacement régulier ou occasionnel) : vous apparaitrez alors dans la recherche des professionnels installés.</p>
                  <p>Vous serez <span class="highlighted-text">immédiatement alertés</span> par SMS, email et sur medGo.fr pour chaque <span class="highlighted-text">demande de remplacement reçue</span>.
                </div>
              </div>
            </div>
          </div>
        </li>

      </div>

    </ul>
  </section>

</div>



<div class="press">
  <div class="container-fluid">
    <div class="row medias">
      <div class="col-xs-12 text-center">
        <h2>Ils parlent de nous :</h2>
        <br>
        <div class="flexbox">
          <div class="flex-press-logo" style="margin: 20px 0;">
            <%= link_to "http://www.lefigaro.fr/actualite-france/2016/05/04/01016-20160504ARTFIG00242-a-toulouse-une-neurologue-cherche-son-remplacant-sur-facebook.php", target: "_blank" do %>
              <%= image_tag "logo_lefigaro.png", width: 200 %>
            <% end %>
          </div>
          <div class="flex-press-logo" style="margin: 20px 0;">
            <%= image_tag "logo_startupweekend.png", width: 200 %>
          </div>
          <div class="flex-press-logo">
            <%= link_to "https://www.lewagon.com/fr/alumni", target: "_blank" do %>
              <%= image_tag "logo_wagon_nobg.png", width: 200 %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
